#Ignore a specific file
/Users/Priyanka/Documents/Internship-Internmo/Zomato_BI_Project_PRD.docx

# Python environments and cache
__pycache__/
*.pyc
.venv/
env/
.claude/
.ipynb_checkpoints/
*.csv
*.parquet
# or specifically:
data/processed/featured_orders.*
.DS_Store

data/cleaned/
*.csv
*.parquet

data/raw/
*.csv
